/****************************************/
/************ Menu Principal ************/
/****************************************/

/* Estilo do Menu Principal*/
.nav-menu .menu-item-wrapper a {
  font-weight: bold;
  font-size: 14px;
}

/* Estilo do Menu Principal em sobreposição */
.nav-menu .menu-item-wrapper a:hover {
  color: #0693e3;
  font-weight: bold;
}

/* Estilo Meu Saldo E-commerce */
#nav-header li:nth-child(8) a {
  font-weight: bold;
}

#nav-header li:nth-child(8) a:hover {
  color: #0693e3;
  font-weight: bold;
}

/****************************************/
/******** Barra de notificações *********/
/****************************************/

/* Barra de notificações */
#notificacoes-barra {
  border-bottom: 4px solid #00a0ff;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #003b76;
  color: #bad0dd;
  font-size: 18px;
  padding: 10px;
  line-height: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

/* DIV com a mensagem para Barra de notificações */
#msgBlog {
  display: none;
}

/****************************************/
/******* Body ********/
/****************************************/

/* Header */
body {
  top: 50px;
}

#header-inner {
  margin-top: 50px;
}

.home {
  background-color: whitesmoke;
}

/****************************************/
/******* Sombreamento de Objetos ********/
/****************************************/

/**/
.mini-card,
/* Definir sombra nos objetos */
.featured-item-wrap,
/* cards do HightLight */
.article-grid article,
.sidebar .widget,
#custom_html-8 div center div div,
/* Próxima postagem */
#page>div>div.sidebar.s1>div>ul>li.next>a,
/* Postagem anterior */
#page>div>div.sidebar.s1>div>ul>li.previous>a,
#wrapper>div.subheader>div,
#page>div>div.content>div.page-title.group,
.Bytag,
.content>.post,
.sharrre-header,
/* Artigos */
.content>article,
/* Imagens dos artigos */
.content article img,
/* woocommerce - cabeçalho */
header.woocommerce-products-header>h1,
/* Imagem do produto */
.woocommerce ul.products li.product a img,
.woocommerce div.product div.images img,
.woocommerce .woocommerce-ordering select,
/* Subir ao topo do site */
#back-to-top {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

/****************************************/
/******* Powered by Tagembed ************/
/****************************************/

/* Powered by Tagembed Original */
.poweredbyWithFilters {
  display: none;
  /* Desabilitar exibição */
}

/* Powered by Tagembed (Div Raiz */
.byTagembed {
  border: 1px solid #1f1b1b;
  width: 170px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

/* Powered By Tagembed CTL */
.Bytag {
  width: 100%;
  display: flex;
  align-items: center;
  /*justify-content: space-around;*/
}

.byTagembed a {
  padding: 10px;
  text-decoration: none;
  color: #1f1b1b;
  margin-left: 8px;
  /* Adiciona um espaço entre o link e a imagem */
}

/****************************************/
/******* Postagens Relacionadas *********/
/****************************************/

.related-post {
  margin-right: 5px;
  /* distancie uma da outra */
}

img {
  border-radius: 10px;
  /* Bordas arredondadas para as imagens */
}

/****************************************/
/******* Formulários RockContent ********/
/****************************************/

/* Formulários de inscrição */
.rock-convert-subscribe-form {
  max-width: 600px;
}

/****************************************/
/*******      Página Loja        ********/
/****************************************/
.woocommerce div.product div.images img {
  border-radius: 10px;
}

.woocommerce-product-gallery__image {
  margin-right: 7px;
  margin-top: 5px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.woocommerce .woocommerce-ordering select {
  padding: 2px;
  border-radius: 5px;
}